<div [ngClass]="suitIsRed ? 'card card-red' : 'card card-black'" *ngIf="rank === '2'">
  <div class="corner top"><span class="number">2</span><span class="corner-suit">{{suitSymbol}}</span></div><span class="suit top_center">{{suitSymbol}}</span><span class="suit bottom_center">{{suitSymbol}}</span>
  <div class="corner bottom"><span class="number">2</span><span class="corner-suit">{{suitSymbol}}</span></div>
</div>
<div [ngClass]="suitIsRed ? 'card card-red' : 'card card-black'" *ngIf="rank === '3'">
  <div class="corner top"><span class="number">3</span><span class="corner-suit">{{suitSymbol}}</span></div><span class="suit top_center">{{suitSymbol}}</span><span class="suit middle_center">{{suitSymbol}}</span><span class="suit bottom_center">{{suitSymbol}}</span>
  <div class="corner bottom"><span class="number">3</span><span class="corner-suit">{{suitSymbol}}</span></div>
</div>
<div [ngClass]="suitIsRed ? 'card card-red' : 'card card-black'" *ngIf="rank === '4'">
  <div class="corner top"><span class="number">4</span><span class="corner-suit">{{suitSymbol}}</span></div><span class="suit top_left">{{suitSymbol}}</span><span class="suit top_right">{{suitSymbol}}</span><span class="suit bottom_left">{{suitSymbol}}</span><span class="suit bottom_right">{{suitSymbol}}</span>
  <div class="corner bottom"><span class="number">4</span><span class="corner-suit">{{suitSymbol}}</span></div>
</div>
<div [ngClass]="suitIsRed ? 'card card-red' : 'card card-black'" *ngIf="rank === '5'">
  <div class="corner top"><span class="number">5</span><span class="corner-suit">{{suitSymbol}}</span></div><span class="suit top_left">{{suitSymbol}}</span><span class="suit top_right">{{suitSymbol}}</span><span class="suit middle_center">{{suitSymbol}}</span><span class="suit bottom_left">{{suitSymbol}}</span><span class="suit bottom_right">{{suitSymbol}}</span>
  <div class="corner bottom"><span class="number">5</span><span class="corner-suit">{{suitSymbol}}</span></div>
</div>
<div [ngClass]="suitIsRed ? 'card card-red' : 'card card-black'" *ngIf="rank === '6'">
  <div class="corner top"><span class="number">6</span><span class="corner-suit">{{suitSymbol}}</span></div><span class="suit top_left">{{suitSymbol}}</span><span class="suit top_right">{{suitSymbol}}</span><span class="suit middle_left">{{suitSymbol}}</span><span class="suit middle_right">{{suitSymbol}}</span><span class="suit bottom_left">{{suitSymbol}}</span><span class="suit bottom_right">{{suitSymbol}}</span>
  <div class="corner bottom"><span class="number">6</span><span class="corner-suit">{{suitSymbol}}</span></div>
</div>
<div [ngClass]="suitIsRed ? 'card card-red' : 'card card-black'" *ngIf="rank === '7'">
  <div class="corner top"><span class="number">7</span><span class="corner-suit">{{suitSymbol}}</span></div><span class="suit top_left">{{suitSymbol}}</span><span class="suit top_right">{{suitSymbol}}</span><span class="suit middle_left">{{suitSymbol}}</span><span class="suit middle_top">{{suitSymbol}}</span><span class="suit middle_right">{{suitSymbol}}</span><span class="suit bottom_left">{{suitSymbol}}</span><span class="suit bottom_right">{{suitSymbol}}</span>
  <div class="corner bottom"><span class="number">7</span><span class="corner-suit">{{suitSymbol}}</span></div>
</div>
<div [ngClass]="suitIsRed ? 'card card-red' : 'card card-black'" *ngIf="rank === '8'">
  <div class="corner top"><span class="number">8</span><span class="corner-suit">{{suitSymbol}}</span></div><span class="suit top_left">{{suitSymbol}}</span><span class="suit top_right">{{suitSymbol}}</span><span class="suit middle_left">{{suitSymbol}}</span><span class="suit middle_top">{{suitSymbol}}</span><span class="suit middle_right">{{suitSymbol}}</span><span class="suit middle_bottom">{{suitSymbol}}</span><span class="suit bottom_left">{{suitSymbol}}</span><span class="suit bottom_right">{{suitSymbol}}</span>
  <div class="corner bottom"><span class="number">8</span><span class="corner-suit">{{suitSymbol}}</span></div>
</div>
<div [ngClass]="suitIsRed ? 'card card-red' : 'card card-black'" *ngIf="rank === '9'">
  <div class="corner top"><span class="number">9</span><span class="corner-suit">{{suitSymbol}}</span></div><span class="suit top_left">{{suitSymbol}}</span><span class="suit top_right">{{suitSymbol}}</span><span class="suit middle_top_left">{{suitSymbol}}</span><span class="suit middle_center">{{suitSymbol}}</span><span class="suit middle_top_right">{{suitSymbol}}</span><span class="suit bottom_left">{{suitSymbol}}</span><span class="suit bottom_right">{{suitSymbol}}</span><span class="suit middle_bottom_left">{{suitSymbol}}</span><span class="suit middle_bottom_right">{{suitSymbol}}</span>
  <div class="corner bottom"><span class="number">9</span><span class="corner-suit">{{suitSymbol}}</span></div>
</div>
<div [ngClass]="suitIsRed ? 'card card-red' : 'card card-black'" *ngIf="rank === '10'">
  <div class="corner top"><span class="number">10</span><span class="corner-suit">{{suitSymbol}}</span></div><span class="suit top_left">{{suitSymbol}}</span><span class="suit top_right">{{suitSymbol}}</span><span class="suit middle_top_left">{{suitSymbol}}</span><span class="suit middle_top_center">{{suitSymbol}}</span><span class="suit middle_top_right">{{suitSymbol}}</span><span class="suit bottom_left">{{suitSymbol}}</span><span class="suit bottom_right">{{suitSymbol}}</span><span class="suit middle_bottom_center">{{suitSymbol}}</span><span class="suit middle_bottom_left">{{suitSymbol}}</span><span class="suit middle_bottom_right">{{suitSymbol}}</span>
  <div class="corner bottom"><span class="number">10</span><span class="corner-suit">{{suitSymbol}}</span></div>
</div>
<div [ngClass]="suitIsRed ? 'card card-red' : 'card card-black'" *ngIf="rank === 'J'">
    <div class="corner top"><span class="number">J</span><span class="corner-suit">{{suitSymbol}}</span></div>
    <span class="face top_center jack"><div></div></span>
    <span class="face bottom_center jack"><div></div></span>
    <div class="corner bottom"><span class="number">J</span><span class="corner-suit">{{suitSymbol}}</span></div>
</div>
<div [ngClass]="suitIsRed ? 'card card-red' : 'card card-black'" *ngIf="rank === 'Q'">
    <div class="corner top"><span class="number">Q</span><span class="corner-suit">{{suitSymbol}}</span></div>
    <span class="face top_center queen"><div></div></span>
    <span class="face bottom_center queen"><div></div></span>
    <div class="corner bottom"><span class="number">Q</span><span class="corner-suit">{{suitSymbol}}</span></div>
</div>
<div [ngClass]="suitIsRed ? 'card card-red' : 'card card-black'" *ngIf="rank === 'K'">
  <div class="corner top"><span class="number">K</span><span class="corner-suit">{{suitSymbol}}</span></div>
  <span class="face top_center king"><div></div></span>
  <span class="face bottom_center king"><div></div></span>
  <div class="corner bottom"><span class="number">K</span><span class="corner-suit">{{suitSymbol}}</span></div>
</div>
<div [ngClass]="suitIsRed ? 'card card-red' : 'card card-black'" *ngIf="rank === 'A'">
  <div class="corner top"><span class="number">A</span><span class="corner-suit">{{suitSymbol}}</span></div><span class="suit middle_center">{{suitSymbol}}</span>
  <div class="corner bottom"><span class="number">A</span><span class="corner-suit">{{suitSymbol}}</span></div>
</div>
<div *ngIf="!isFaceUp" >
    <div class='card card-back'></div>
</div>
<div *ngIf="!hasCard">
    <div class='card'></div>
</div>